
/*img .resume{
	border:2px; 
	border-color:black; 
	border-style:solid; 
	position: relative;
	width:600px; 
	height:776.5px;
	margin-left: 100px;
}*/
#r-caption{
	left:870px;
}

img.resume{
	border:2px; 
	border-color:black; 
	border-style:solid; 
	position: relative;
	width:600px; 
	height:776.5px;
	border-radius: 3px;
}
/*	margin-left: 50px;
}*/

/*#resume-cont{
	border:2px; 
	border-color:black; 
	border-style:solid; 
	position: relative;
	width:600px; 
	height:776.5px;
}*/